<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<trace Autoflush="false" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>

</configuration>


